.suggestions-container {
    position: absolute;
    z-index: 1000;
    width: 100%;
    background-color: #f1eeee;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    margin-top: 1px;
    overflow: hidden;
    border-top: 1px solid #ddd;
    border-radius: 10px;
  }
  
  .suggestion-item {
    padding: 10px;
    padding-left: 20px;
    border-bottom: 1px solid #c3c1c1;
    cursor: pointer;
    background-color: #d2f0e6;
    transition: background-color 0.2s;
  }
  
  .suggestion-item:last-child {
    border-bottom: none;
  }
  .suggestion-item:hover {
    background-color: #cecccc;
  }